# Google Programmable Search Engine credentials
# See https://programmablesearchengine.google.com/ and Google Cloud Console.
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_PSE_CX=your_search_engine_id_here
